<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-2">
			<h1>Edit Recipe</h1>
			<%= render 'form' %>
			<div class="back_btn">
			<%= link_to "Go Back", @recipe, class: "btn btn-default" %>
			</div>
		</div>
	</div>
</div>