<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1 class="title">
				College Cookbook
			</h1>
			<p>
				College Cookbook is a platform for users, partcularly students, who are looking for quick and simple meals. Students can share and create recipes for other students. Note: This project is still ongoing with frequent updates and improvements.
				<br><br>
				As a first-year student, it was difficult for me to adjust to living on my own. Since I did not have a meal plan, I had to cook food for myself. It was very difficult to do so in the beginning and I wasted a lot of food. Whenever I tried to search for recipes online it usually never worked. I either never had the resources or skill to make them, or that the directions were so long and hard that I would spend more time reading than cooking. I decided to make this web app as a solution. The recipes on this site are recipes made by students, for students. They are quick, short and simple. 
				<br><br><br><br>
				My name is Paul Zhang and I'm always looking for new opportunities!! 
				If you have any inquiries, feel free to contact me at<a href="mailto:paul01134@hotmail.com"> jl5zhang@uwaterloo.ca </a>or at <a href="http://www.paulzhang.me/">paulzhang.me.</a> Check out the souce code on <a href="https://github.com/LaRenegaws/college_cookbook">Github!</a>.
			</p>
		</div>
	</div>
</div>


