<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1 class="title">
				About College Cookbook
			</h1>
			<p>
				Hi! My name is Paul Zhang and I am a first year Software Engineering student at the University of Waterloo (class of 2020). I've always enjoyed tackling complex problems and coding was an outlet for me to do so. 
				<br><br>
				Aside from coding, I enjoy playing chess and other board games. Also, I enjoy playing sports, particularly tennis and basketball. You can catch me making a splash on the court! 
				<br><br>
				I'm always looking for new opportunities!! 
				If you have any inquiries, feel free to contact me at<a href="mailto:paul01134@hotmail.com"> jl5zhang@uwaterloo.ca </a>or connect with me on <a href="https://www.linkedin.com/in/jlpaulzhang">LinkedIn</a> or	<a href="https://github.com/LaRenegaws">Github</a> .
			</p>
		</div>
	</div>
</div>


